{% load bootstrap5 %}

{% block main %}

<div class="modal-header">
    <h2 class="modal-title">{{ form.instance.pk|yesno:"Editar Grupo,Criar Grupo" }}</h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    {{ form.media }}
    <form method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success">Salvar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </form>
</div>

{% endblock %}
