{% extends "base.html" %}
{% load static %}
{% block title %}MS - Enterprise{% endblock %}

{% block content %}


{% include 'partials/nav.html' %}

  <!-- Overlay -->
<div id="overlay"></div>
<div class="container-fluid mt-5">

  <!-- Sidebar -->

  {% block main %}
  {% endblock %}

<div class="footer">
</div>
</div>

<script src="{% static 'js/bootstrap5.modal.forms.min.js' %}"></script>

<script>
        document.getElementById("logoutBtn").addEventListener("click", function() {
            let toastEl = new bootstrap.Toast(document.getElementById("logoutToast"));
            toastEl.show();
        });

        document.getElementById("confirmLogout").addEventListener("click", function() {
            window.location.href = "{% url 'users:logout' %}";
        });
</script>
{% endblock %}
